.header {
  position: relative;

  padding: 20px 30px 20px 30px;

  box-shadow: -10px -9px 18px 14px rgb(0 0 0 / 20%);
}

.navigation {
  display: flex;
  justify-content: center;

}

.link {
  font-size: 23px;
  color: black;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  composes: link;

  color: blue;
  border-bottom: 2px solid blue;
}
